<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.connehealth.entities.MasterData" alias="MasterData"/>
        <typeAlias type="com.connehealth.entities.User" alias="User"/>
        <typeAlias type="com.connehealth.entities.PersistentLogin" alias="PersistentLogin"/>
        <typeAlias type="com.connehealth.entities.Podcast" alias="Podcast"/>
        <typeAlias type="com.connehealth.entities.UserProfile" alias="UserProfile"/>
        <typeAlias type="com.connehealth.entities.Practice" alias="Practice"/>
        <typeAlias type="com.connehealth.entities.PracticeFile" alias="PracticeFile"/>
        <typeAlias type="com.connehealth.entities.Provider" alias="Provider"/>
        <typeAlias type="com.connehealth.entities.Employee" alias="Employee"/>
        <typeAlias type="com.connehealth.entities.Patient" alias="Patient"/>
        <typeAlias type="com.connehealth.entities.PatientFile" alias="PatientFile"/>
        <typeAlias type="com.connehealth.entities.Icd10" alias="Icd10"/>
        <typeAlias type="com.connehealth.entities.Drug" alias="Drug"/>
        <typeAlias type="com.connehealth.entities.Allergen" alias="Allergen"/>
        <typeAlias type="com.connehealth.entities.AdverseReaction" alias="AdverseReaction"/>
        <typeAlias type="com.connehealth.entities.PatientProblem" alias="PatientProblem"/>
        <typeAlias type="com.connehealth.entities.PatientMedication" alias="PatientMedication"/>
        <typeAlias type="com.connehealth.entities.PatientAllergy" alias="PatientAllergy"/>
        <typeAlias type="com.connehealth.entities.PatientAdverseReaction" alias="PatientAdverseReaction"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/master-data.xml" />
        <mapper resource="mappers/user.xml" />
        <mapper resource="mappers/podcast.xml" />
        <mapper resource="mappers/user-profile.xml" />
        <mapper resource="mappers/practice.xml" />
        <mapper resource="mappers/practice-file.xml" />
        <mapper resource="mappers/provider.xml" />
        <mapper resource="mappers/employee.xml" />
        <mapper resource="mappers/patient.xml" />
        <mapper resource="mappers/patient-file.xml" />
        <mapper resource="mappers/icd10.xml" />
        <mapper resource="mappers/drug.xml" />
        <mapper resource="mappers/allergen.xml" />
        <mapper resource="mappers/adverse-reaction.xml" />
        <mapper resource="mappers/patient-problem.xml" />
        <mapper resource="mappers/patient-medication.xml" />
        <mapper resource="mappers/patient-allergy.xml" />
        <mapper resource="mappers/patient-adverse-reaction.xml" />
    </mappers>
</configuration>