<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd

		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd

		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <context:component-scan base-package="com.connehealth.*" />

    <!--
        Instruct Spring to perform declarative transaction management
        automatically on annotated classes.
    -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager" depends-on="dataSource">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- For MySQL DataSource 部署在服务器端时使用 -->
    <!--<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" scope="singleton">
        <property name="jndiName" value="java:comp/env/jdbc/restDemoDB" />
        <property name="resourceRef" value="true" />
    </bean>-->

    <!-- For HSQLDB DataSource 开发时使用的数据库，可以通过文件共享数据库 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
        <property name="url" value="jdbc:hsqldb:mem:test;sql.syntax_ora=true" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>

    <jdbc:initialize-database data-source="dataSource">
        <jdbc:script encoding="UTF-8" location="classpath:test_data/authorization_schema.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/authorization_data.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/master_schema.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/master_data.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/account_schema.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/account_data.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/business_schema.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/business_data.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/icd_10_schema.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/icd_10_data.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/drug_schema.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/drug_data.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/allergen_schema.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/allergen_data.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/adverse_reaction_schema.sql" />
        <jdbc:script encoding="UTF-8" location="classpath:test_data/adverse_reaction_data.sql" />
    </jdbc:initialize-database>
</beans>